.navbar {
  margin: 5px;
  width: 91%;
  height: 70px;
  background-color: #0b132b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 0 50px;
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo img {
  height: 155px;
  width: auto;
  /* font-size: 30px; */
  margin-left: -4em;
  margin-top: 1em;
}

.links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}

.links a:hover {
  color: #00b4d8;
}

.links button {
  background-color: #00b4d8;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.links button:hover {
  background-color: #0077b6;
}

@media (max-width: 1200px) {
  .navbar {
    width: 95%;
    padding: 0 40px;
  }

  .logo img {
    height: 85px;
  }

  .links a {
    font-size: 16px;
  }

  .links button {
    padding: 7px 12px;
  }
}

@media (max-width: 992px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px 20px;
    gap: 10px;
  }

  .logo img {
    height: 75px;
    margin-left: 0;
  }

  .links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .links a {
    font-size: 15px;
  }

  .links button {
    padding: 6px 10px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .navbar {
    /* flex-direction: column; */
    align-items: self-start;
    align-content: start;
    justify-content: start;
    height: 20vh;
    padding: 0px 15px;
  }

  .logo img {
    height: 100px;
  }

  .links {
    margin-top: -5em;
    flex-direction: row;
    gap: 20px;
    width: 140%;
    text-align: center;
  }

  .links a {
    font-size: 18px;
  }

  .links button {
    width: 120%;
    padding: 8px 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px 10px;
  }

  .logo img {
    height: 55px;
  }

  .links a {
    font-size: 13px;
  }

  .links button {
    width: 100%;
    padding: 6px 0;
    font-size: 13px;
  }
}
